* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #7CB0A1;
    --secondary-color: #FCFBF3;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--secondary-color);
    
    font-family: Arial, Helvetica, sans-serif;

}

body::-webkit-scrollbar {
    display: none;
}

header {
    width: 100%;
    height: 550px;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    padding: 0 20px;
    font-size: 25px;
    transition: 0.1s;
}

.logo_img{
    width: 8%;
    height: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: var(--secondary-color);
}

.logo_img:hover{
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.logo_img img{
    width: 100%;
    height: 100%;
}

nav a{
    margin: 10px;
    text-decoration: none;
}

nav a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    transition: .2s;
}

video{
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: blur(.1rem) brightness(.5);
    pointer-events: none;
}

.hero_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero_text h1{
    color: var(--secondary-color);
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero_text button{
    padding: 10px 20px;
    font-size: 15px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    margin-top: 20px;
    cursor: pointer;
}

.hero_text button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: .5s;
}

.feedback{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border: 1px solid black;
    margin: 20px;
    box-sizing: content-box;
    padding: 20px;
}

.numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
    
}

.numbers h1{
    margin-bottom: 10px;
}

.numbers span{
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
    text-align: center;
}

.events{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border: 1px;

    margin: 5px;
    margin-top: 100px;
    box-sizing: content-box;
}

.events span{
    margin: 20px;
    padding: 10px;
    width: 33.33%;
    height: 100%;
    text-align: center;
    position: relative;
}

.events span img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.overlay {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    transform: translate(0, 100%);
    padding: 15px;
    background-color: rgba(0,0,0,0.5);
    text-align:center;
    transition: all 0.2s ease-in;
  }

.events span:hover .overlay {
    transform: translate(0, 0);
	transition: all 0.2s ease-in;
}